<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     {% load static %}

   

    <link href="{% static 'style.css' %}" rel="stylesheet"> 
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Calculator App</title>
</head>

<body>
    
 

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


        <div class="container mainContainer">

        <div class="container screenBg  d-flex align-items-end flex-column mb-3">
            <div id="display" class=" mt-5 px-2"><h3></h3></div>
            <div id="answerPlace" class="mt-auto p-2"><h2>0</h2></div>
       
        
        </div>



        <div class="container bottomContainer">
            
            <div class="row">
                <div  id="AC" class="element col mx-2 text-light btn btn-warning">
                    <h3>AC</h3> 
                </div>
                <div id="plusMinus" class="element col mx-2 text-light btn btn-warning">
                   <h3>+/-</h3> 
                </div>
                <div id="percent" class="element col mx-2 text-light btn btn-warning">
                   <h3>%</h3>
                </div>
                <div id="division" class="element col mx-2 btn buttons btn-danger">
                   <h3>/</h3> 
                </div>
            </div>

            <!-- row 2 -->

            <div class="row my-4">
                <div  id="seven" class="element col mx-2 btn btn-light">
                   <h3>7</h3> 
                </div>
                <div  id="eight" class="element col mx-2 btn btn-light">
                    <h3>8</h3>
                </div>
                <div  id="nine" class="element col mx-2 btn btn-light">
                   <h3>9</h3> 
                </div>
                <div  id="times" class="element col mx-2 btn buttons btn-danger">
                    <h3>*</h3>
                </div>
            </div>

            <!-- row 3 -->
            <div class="row my-4">
                <div  id="four" class="element col mx-2 btn btn-light">
                    <h3>4</h3>
                </div>
                <div  id="five" class="element col mx-2 btn btn-light">
                    <h3>5</h3>
                </div>
                <div id="six" class="element col mx-2 btn btn-light">
                    <h3>6</h3>
                </div>
                <div  id="minus" class="element col mx-2 btn buttons btn-danger">
                    <h3>-</h3>
                </div>
            </div>

            <!-- row 4 -->
            <div class="row my-4">
                <div  id="one" class="element col mx-2 btn btn-light">
                    <h3 >1</h3>
                </div>
                <div  id="two" class="element col mx-2 btn btn-light">
                    <h3>2</h3>
                </div>
                <div  id="three" class="element col mx-2 btn btn-light">
                    <h3>3</h3>
                </div>
                <div  id="plus" class="element col mx-2 btn buttons btn-danger">
                    <h3>+</h3>
                </div>
            </div>

            <!-- row 5 -->

            <div class="row my-4">
                <div id="del" class="element col mx-2 btn btn-light">
                    <h3>
                        &larr;
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                        </svg> -->
                    </h3>
                </div>
                <div  id="zero" class="element col mx-2 btn btn-light">
                    <h3>0</h3>
                </div>
                <div  id="dot" class="element col mx-2 btn btn-light">
                    <h3>.</h3>
                </div>
                <div  id="equalto" class="element col mx-2 btn buttons btn-danger">
                    <h3>=</h3>
                </div>
            </div>

        

        </div>

        </div>
    
        
<script src="{% static 'index.js' %}"></script>



</body>

</html>